.posts {

  a {
    display: block;

    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
    }

    strong {
      display: block;
      line-height: 2.125rem;
      font-size: 1.75rem;
      color: var(--heading);
      transition: color 0.2s;
    }

    p {
      margin: 0.5rem 0 1.5rem;
      font-size: 1.125rem;
      color: var(--body);
    }

    &:hover strong {
      color: var(--highlight);
    }
  }

}

.loadMorePostsButton {
  color: var(--highlight);
  font: 600 1.125rem "Inter", sans-serif;

  background: none;
  border: none;

  margin-top: 4rem;
  cursor: pointer;
}